@model SAGEWebsite.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Products of Sage are avaialble at these locations. <br />The deatils link will provide futher information about the location.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationMap)
        </dt>
        <td>
            <div id="map" style="height:500px; width:500px"></div>
            <script>
         function initMap() {
            var myLatLng = { lat: @Model.Lat, lng: @Model.Lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 19,
            center: myLatLng,
            });
               var marker = new google.maps.Marker({
               position: myLatLng,
               map: map
             });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);



        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
            </script>
            <script async defer
                    src= @ViewBag.mymap>
            </script>
        </td>
        <dt class="col-sm-2">
            Directions
        </dt>
        <td>
            <a target="_blank" href="@Url.Content(Model.LocationDirections)">Click for Directions</a>
        </td>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Locations</a>
</div>
