@model SAGEWebsite.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Products of Sage are avaialble at these locations. <br />The deatils link will provide futher information about the location.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocationMap)
        </dt>
        <td>
            <img src="@Url.Content(Model.LocationMap)" />
        </td>
        <dt class="col-sm-2">
            Directions
        </dt>
        <td>
            <a href="@Url.Content(Model.LocationDirections)">Click for Directions</a>
        </td>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Locations</a>
</div>
