@model IEnumerable<SAGEWebsite.Models.Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Products of Sage are avaialble at these locations. <br /> The deatils link will provide futher information about the location.</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationHours)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
