@model SAGEWebsite.Models.Order

@{
    ViewData["Title"] = "Customer";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.CustomerId" />
            <input type="hidden" asp-for="Customer.ShippingAddressId" />
            <input type="hidden" asp-for="Customer.BillingAddressId" />
            <input type="hidden" asp-for="Customer.PaymentId" />
            <input type="hidden" asp-for="Item.ItemId" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddressId" class="control-label"></label>
                <input asp-for="ShippingAddressId" class="form-control" />
                <span asp-validation-for="ShippingAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingOption" class="control-label"></label>
                <input asp-for="ShippingOption" class="form-control" />
                <span asp-validation-for="ShippingOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <h3>Shipping Address</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ShippingAddress.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ShippingAddress.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ShippingAddress.StreetAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ShippingAddress.StreetAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ShippingAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ShippingAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ShippingAddress.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ShippingAddress.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.ShippingAddress.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.ShippingAddress.ZipCode)
        </dd>
    </dl>

    <div>
        <h3>Billing Address</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.BillingAddress.Address1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.BillingAddress.Address1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.BillingAddress.StreetAddress2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.BillingAddress.StreetAddress2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.BillingAddress.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.BillingAddress.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.BillingAddress.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.BillingAddress.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.BillingAddress.ZipCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.BillingAddress.ZipCode)
            </dd>

        </dl>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

