@model SAGEWebsite.Models.Item

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LifeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LifeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoReorder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoReorder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
