@model IEnumerable<SAGEWebsite.Models.Survey>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StyleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StyleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurveyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurveyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurveyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
