@model SAGEWebsite.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOptIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailOptIn)
        </dd>
    </dl>
</div>
<div>
    <h3>Payment Information</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.CreditCardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.CreditCardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.CVVSecurityCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.CVVSecurityCode)
        </dd>
    </dl>
</div>
<div>
    <h3>Survey Information</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.StyleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Survey.StyleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.HomeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Survey.HomeType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Survey.LifeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Survey.LifeType)
        </dd>
    </dl>
</div>
<div>
    <h3>Shipping Address</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress.StreetAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.StreetAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress.ZipCode)
        </dd>
    </dl>
</div>
<div>
    <h3>Billing Address</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress.StreetAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.StreetAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress.ZipCode)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
